html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color:rgb(57, 130, 58);
    font-style:robot;
    display: flex;
    flex-direction: column;
  }
  h1{
    font-weight: 500;;
  }
  p{
    font-size: 19px;
    color:black;
  }
  .app {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
  }
  
  .main-content {
    flex: 1;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color:black;
    font-weight:600;
    background-color: #dee8de;
    text-align: center;
    padding: 13px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the footer is on top if necessary */
  }
  